<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cadastro - Reserva de Restaurantes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="login-container">
    <h2>Cadastro de Cliente</h2>
    <form action="{{ url_for('cadastro') }}" method="POST">
      <input type="text" name="nome" placeholder="Nome" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="senha" placeholder="Senha" required>
      <button type="submit">Cadastrar</button>
    </form>
    <form action="{{ url_for('login') }}" method="get">
      <button type="submit" class="cadastro-btn">Voltar ao Login</button>
    </form>
    {% if erro %}
      <p class="erro">{{ erro }}</p>
    {% endif %}
  </div>
</body>
</html>